<section class="modal-overlay" id="ovarlay">
    <div class="modal" id="modal">

        <section id="pokedex">

                <%- include('./partials/main.ejs') %> 

        </section>          
</section>